@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-size: 18px;
    color: #a9a9b3;
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
}
a{
    text-decoration: none;
}
/* dark mode */
#main.light{
    background: rgba(255, 255, 255, 0.432);
    color: black;
}
#main .main__container .header.light{
    background: rgb(235, 235, 235);
}


/* end dark mode */
/* main section */
#main{
    width: 100%;
    height: 100vh;
    background-color: #292A2D;
}
#main .main__container{
    margin: 0 auto;
    width: 100%;
    height: 100vh;
}

/* nav */
#main .main__container .header{
    width: 100%;
    height: 10vh;
    background-color: #272729;
}
#main .main__container .header nav{
    margin: 0 auto;
    width: 60%;
    padding: 3vh;
}
#main .main__container .header nav img{
    float: right;
    width: 30px;
}
#main .main__container .header nav span.dark{
    cursor: pointer;
}
#main .main__container .header span.logotext{
    letter-spacing: .1em;
    font-size: 15px;
    font-weight: 900;
}
#main .main__container .header span.logotext::after{
    margin-left: 2px;
    content: '_';
    background: rgb(32, 255, 51);
    animation: blink .5s infinite alternate;
    -webkit-animation: blink .5s infinite alternate;
}
#main .main__container .header span.logotext.open::after{
    content: 'whoami';
    font-family: 'Courier New', Courier, monospace;
    border-bottom: 1px solid red;
    background: transparent;
    animation: none;
    -webkit-animation: none;
}

/* end nav */
/* body */
#tabs{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
}

#tabs .body{
    width: 60%;
    margin: 0 auto;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10vh 0;
    transition: all 1s ease;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    animation: fade 1s ease;
    -webkit-animation: fade 1s ease;
}
#tabs .body.close{
    opacity: 0;
    pointer-events: none;
    animation: fadeClose 1s ease;
    -webkit-animation: fadeClose 1s ease;
}
#tabs .body:last-child{
    opacity: 0;
    pointer-events: none;
}
#tabs .about.open{
    opacity: 1;
    pointer-events: all;
}
#tabs .body .logo_img img.cofe{
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: radial-gradient(rgb(200, 0, 0),rgb(120,0,0),rgb(0, 0, 0));
}
#tabs .body .logo_img{
    width: 200px;
    height: 200px;  
}
#tabs .body .name{
    padding: 4vh 0;
}
#tabs .body .name h1{
    font-size: 35px;
    padding: 1vh;
    font-family: 'VT323', monospace;
    letter-spacing: 2px;
}
#tabs .body .name span{
    color: red;
}
#tabs .body a.button{
    margin-top: 2vh;
    font-weight: 600;
    font-size: 15px;
    padding: 1vh 3vh ;
    display: inline-block;
    text-transform: uppercase;
    color: rgb(96, 192, 0);
    border-bottom: 2px solid chartreuse;
    border-radius: 15px ;
    -webkit-border-radius: 15px ;
    -moz-border-radius: 15px ;
    -ms-border-radius: 15px ;
    -o-border-radius: 15px ;
}
#tabs .body .para p{
    margin-right: 15px;
    padding: 1vh 0;
}
#tabs .body a.button:hover{
    color: rgb(130, 255, 5);
    
}
/* social icons */
#tabs .social{
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 20%;
    top: 30%;
    transition: all 1s;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 25px;
    height: 55px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    overflow: hidden;
}
#tabs .social.open{
    height: 335px;
}
#tabs .social .expand{
    padding: 2vh 0 7vh 14px;
    box-shadow: 0px -1px 31px 0px #a7a7a728;
    margin-bottom: 2vh;
}
#tabs .social .expand i.fa{
    position: absolute;
    font-size: 28px;
    animation: spin 2s infinite;
    -webkit-animation: spin 2s infinite;
    cursor: pointer;
}
#tabs .social a i.btn{
    padding: 3vh;
}

#tabs .social a i img{
    padding: 1vh 0;
    fill: #a9a9b3;
    width: 22px;
}


/* end of social section */

/* about section */

#tabs .about{
    width: 60%;
    text-align: center;
    border-radius: 10px;
    padding: 7vh 6vh ;
    max-width: 500px;

}
#tabs .about h2{
    border-bottom: 1px solid chartreuse;
}
#tabs .about p{
    padding: 5vh 0 4vh 0;
}

/* end main section */
@media screen and (max-width: 768px){
    #main .main__container .header{
        height: 9vh;
    }
    #main .main__container .header nav{
        width: 100%;
    }
    #tabs .body .para p{
        text-align: center;
        max-width: 500px;
    }
    #main .main__container .header span.logotext{
        font-size: 12px;
    }
    #tabs .social a i svg.change{
        padding: 2vh 0;
        width: 20px;
    }
    #tabs{
        margin: 15% 0;
        align-items: baseline;
    }
    #tabs .body{
        height: 60vh;
    }
    #tabs .about{
        max-width: 80%;
    }
    #tabs .body .logo_img img.cofe{
        height: 130%;
    }
    #tabs .body .name{
        padding: 10vh 0 4vh 0;
    }
    #tabs .social{
        right: 10px;
        top: 20%;
    }
}
@media screen and (max-width: 360px){
    #tabs .body .para p{
        font-size: 15px;   
    }
    #tabs .body .logo_img img.cofe{
        width: 90%;
        margin-left: 10px;
    }
}
@keyframes blink {
    from{
        opacity: 1;
    }to{
        opacity: 0;
    }
}
@keyframes fade {
    from{
        transform: translateY(100%);
        -webkit-transform: translateY(100%);
        -moz-transform: translateY(100%);
        -ms-transform: translateY(100%);
        -o-transform: translateY(100%);
}to{
        transform: translateY(0px);
        -webkit-transform: translateY(0px);
        -moz-transform: translateY(0px);
        -ms-transform: translateY(0px);
        -o-transform: translateY(0px);
    }
    }
@keyframes fadeClose {
    from{
        transform: translateY(0px);
        -webkit-transform: translateY(0px);
        -moz-transform: translateY(0px);
        -ms-transform: translateY(0px);
        -o-transform: translateY(0px);
}to{
    transform: translateY(100%);
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    -o-transform: translateY(100%);
}
}
@keyframes spin {
0%{
        transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -o-transform: rotate(180deg);
}50%{
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
}
100%{
    transform: rotate(-180deg);
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
}
}
